/* Paul Theme
	A theme for syntax highlighting of ABC code
	for the abcjs-editor.

	This meant to be used with @webcoder49/code-input and
	highlightjs-abc projects.
 */
code-input {
	resize: both;
	border: 1px solid #bbbbbb;
}

#abc textarea::selection {
	background: #6781ef;
	color: #ffffff;
}

#abc code {
	/*background: aliceblue;*/
	padding: 5px;
}

/* Header lines */
.hljs-header {
	color: #0B34A8;
}
.hljs-header-content {
	font-weight: bold;
}
.hljs-title {
	font-weight: bold;
}
.hljs-staves {
	background-color: #ffdfe5;
}
.hljs-staves-content {
	font-weight: bold;
}
.hljs-key {
	font-weight: bold;
}

/* Music lines */
.hljs-inline-header {
	background-color: #ffdfe5;
}
.hljs-note {
	border-bottom: 1px solid blue;
	border-radius: 6px;
}
.hljs-chord-symbol {
	color: #107121;
}
.hljs-decoration {
	color: #0f7d8c;
}
.hljs-grace {
	background: #F2F2F2;
}
.hljs-chord {
	background: #FCF2D0;
}
.hljs-bar {
	background: #71f6ff;
}
.hljs-overlay {
	background: #71f6ff;
}
.hljs-error {
	color: #ffffff;
	background: red;
}
.hljs-comment {
	font-style: italic;
	color: #818181;
}
.hljs-slur {
	border-bottom: 2px dotted #aaa;
}
